.color-container{
    background: linear-gradient(135deg, #92e0db 6.71%, #5b96cc 91.97%);
    width: 100%;
    min-height: 70vh !important;
    padding: 50px 15%;

}
.image-container{
    background-origin: content-box; 
    background: url("/images/principal/PruebitaNoBG.png") 100% 0% / contain no-repeat content-box;
    background-position: right top;
}
@media (max-width: 750px){
.color-container{
    min-height: 30vh !important;
}
    .image-container{
        padding: 0;
        background-position: center center;
        background: url("/images/principal/PruebitaOscuresidoNoBg.png") 50% 50% / contain no-repeat content-box;
    }    
}