.home-container{
    width: 100%;
    padding: 0 15%;
    background: url("../../../../public/images/principal/PruebitaNoBG.png") 100% 0% / contain no-repeat content-box;
    background-position: right top;
}

@media (max-width: 750px){
    .home-container{
        padding: 0;
        background-position: center center;
        background: url("../../../../public/images/principal/PruebitaOscuresidoNoBg.png") 50% 50% / contain no-repeat content-box;
    }    
}