.info-container{
    padding:25px;
  display: grid;
  place-items: center; /* Centers both horizontally and vertically */  
}
.info-secciones{
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  background-color: whitesmoke;
  border: 1px solid #ccc;
  transition: all 0.3s ease; /* Smooth transition for width/height changes */
  margin-bottom: 10px;
}
.info-content{
  padding: 10px 40px;
  max-height: 100px; /* Initial height for the visible content */
  transition: max-height 0.5s ease-out;
  align-items: center;
}
.info-content h2{
  text-align: center;
}

.info-hidden{
  opacity: 0; /* Hide the text initially */
  transition: opacity 0.3s ease-out;
}

.info-hidden .info-hidden-text{
  text-align: left;
  color:var(--text);
}

.info-secciones:hover .info-content {
    max-height: 600px; /* A large enough value to accommodate the expanded content */
    transition: max-height 0.5s ease-in;
}

.info-secciones:hover .info-hidden{
    opacity: 1; /* Make the text visible */
    transition: opacity 0.3s ease-in 0.2s; /* Add a slight delay for smoother effect */
}
@media (min-width: 800px){
    .info-secciones{
        margin: 0;
        display: grid;
        grid-template-columns: 1fr;
        background-color: whitesmoke;
        border: 1px solid #ccc;
        transition: all 0.3s ease; /* Smooth transition for width/height changes */
        margin-bottom: 10px;
    }
    .info-content{
        max-height: 500px; /* Initial height for the visible content */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    .info-hidden{
        opacity: 1; 
        display: flex;
        padding: 20px;
    }
    .info-biblo-image{
        background-image: url("../../../../public/images/infoSection/biblotecaFRC.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 20%;
        height: 80px;
    }
    .info-hidden-text{
        width: 70%;
    }
    .info-hidden .info-hidden-text{
        text-align: left;
        color:var(--text);
    }

    .info-secciones:hover .info-content {
        max-height: 600px; /* A large enough value to accommodate the expanded content */
        transition: max-height 0.5s ease-in;
    }

    .info-secciones:hover .info-hidden{
        opacity: 1; /* Make the text visible */
        transition: opacity 0.3s ease-in 0.2s; /* Add a slight delay for smoother effect */
    }
}